@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
    color: black;
}
.message_user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}
.message_userCard{
    background-color: #0b81ff !important;
    text-transform: capitalize;
}
.message_guestCard{
    background-color: #ebebeb !important;
    text-transform: capitalize;
}